html {
  background-color: white;
  color: #333;
}

body {
  padding: 0 31%;
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

header {
  font-size: 2.5em;
}

@media only screen and (max-width: 600px)  {
  body {
    padding: 0 1%;

  }
}
