.date-picker {
  text-align: center;
}

.date-picker > input {
  height: 35px;
  width: 200px;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.issue-container {
  margin-top: 50px;
}