img {
  max-width: 80%;
}

.title .icon-toggle {
  cursor: pointer;
  color: black;
  font-size: 1.1em;  
  float: right;
  margin-right: 10px;
}

.comment-info {
  margin-bottom: 5%;
  border: solid 1px rgb(128, 128, 128);
  border-radius: 5px;
  background: white;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
}

.comment-info a {
  color: black;
}

.comment-info > .title {
  cursor: pointer;
  background-color: rgb(237, 249, 255);
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;
  font-size: 13px;
  border-bottom: solid 1px rgb(23, 56, 42);
}


.c-comment {
  margin-top: 20px;
  display: flex;
}

.comment-body  {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}