img {
  max-width: 80%;
}

.title .icon-toggle {
  cursor: pointer;
  color: #0366d6;
  font-size: 1.1em;  
  float: right;
  margin-right: 10px;
}

.comment-info {
  margin-bottom: 5%;
  border-left: solid 1px rgb(192 211 235);
  border-right: solid 1px rgb(192 211 235);
  border-bottom: solid 1px rgb(192 211 235);
  border-radius: 2px;
  background: white;
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
}

.comment-info a {
  color: black;
  text-decoration: none;
}

.comment-info > .title {
  cursor: pointer;
  background-color: rgb(237, 249, 255);
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;
  font-size: 0.8em;
  border: solid 1px rgb(192 211 235);
  text-decoration: none;
}


.c-comment {
  margin-top: 20px;
  display: flex;
}

.comment-body  {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9em;
  line-height: 1.4;
  word-wrap: break-word;
}

strong {
  background-color: #7ff5f5de;
}