img {
  max-width: 80%;
}

.c-comment > .icon-toggle {
  cursor: pointer;
  color: black;
  height: 20px;
  margin-right: 10px;
  font-size: 1.6em;  
}

.comment-info {
  margin-bottom: 5%;
  box-shadow: 1px 5px 10px 0 rgba(0,0,0,.1);;
  border-radius: 5px;
  background: rgb(245, 245, 255);
  font-size: 15px;
  line-height: 1.6;
  width: 100%
}

.title .link {
  color: rgb(255, 255, 255);
}

.comment-info a {
  color: black;
}

.comment-info > .title {
  background-color: rgb(10, 8, 37);
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;
}


.c-comment {
  margin-top: 20px;
  display: flex;
}

.comment-body  {
  padding-left: 10px;
  padding-right: 10px;
}