.issue-info > .icon-toggle {
  cursor: pointer;
  color: black;
  margin-left: 10px;
  font-size: 1.5em;
}

.c-issue {
  display: flex;
}

.issue-title a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.6em;
}
.issue-info a:hover {
  text-decoration: underline;
  color: rgb(219, 11, 105);
}

.repo-name a {
 cursor: pointer; 
 text-decoration: none;
 font-weight: bold;
 color: black;
}

.labels {
  margin-top: 5px;
}

.total-comments {
  font-size: 0.9em;
  color: rgb(41, 38, 38);
}

.issue-state {
  font-size: 0.8em;
  color: white;
  border-radius: 5px;
  padding: 2px 6px;
  margin-left: 5px;
}

.closed {
  background-color: rgba(218, 16, 16, 0.877);
}

.open {
  background-color: rgb(27, 165, 45);
}

.issue-info {
  width: 100%;
}