.label {
  margin-right: 0.7em;
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  background-color: #ececec;
  padding: 5px 11px;
  border-radius: 3px;
  line-height: 2.5;
  font-weight: 300;
}
.c-label {
  display: inline-block;
}
