.label {
  margin-right: 0.7em;
  font-size: 0.8em;
  color: rgb(0, 0, 0);
  background-color: rgb(159, 232, 205);
  padding: 0.5em;
  border-radius: 5px;
  line-height: 2.5;
}
.c-label {
  display: inline-block;
}
